fastapi
uvicorn[standard]
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.9
alembic
passlib[bcrypt]
pyjwt
python-multipart
ollama
pydantic
email-validator
python-dotenv
pypdf
pymupdf
faiss-cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
google-auth
requests==2.32.3